@charset "utf-8";
body, html {
	color: #000;
	font-family: tahoma, 'Microsoft yahei', 'Hiragino Sans GB', 'Hiragino Sans GB W3', HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased
}
html {
	font-size: 16px;
}
body, div, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td, a {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
body, span, label, p, h1, h2, h3, h4, h5, h6, a, div, li, dt, dd, i, em, section, article, :after, :before, button, input, textarea {
	background-repeat: no-repeat !important;
	background-position: center center;
	background-size: 100% !important;
}
li {
	list-style: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
}
a {
	color: #000;
	text-decoration: none;
	background-color: transparent;
	-webkit-tap-highlight-color: transparent;
	/*解决Safari 点击时 标签文本被选中，有底色*/
	-webkit-user-select: none;
}
a:active, a:hover {
	outline: 0;
	text-decoration: none;
}
img {
	max-width: 100% !important;
	vertical-align: middle;
	border: 0;
}
input, button, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-appearance: none;
	background-color: transparent;;
	background-repeat: no-repeat;
	-webkit-tap-highlight-color: transparent;
  -webkit-user-select:none;
	border:none;
  outline:0;
}
input[type=text], textarea {
	background-color: #fff;
}
button {
	overflow:visible;
	border: none;
	outline: 0;
}
em,h3{
	font:inherit
}

/**************外框**************/
body {
	background-color: #f2f2f2;
}
.title {
	margin-top: 10px;
	margin-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 14px;
	font-weight: normal;
	color: #999;
}
.title span{
	float: right;	
	color: #bbb;
}
.wrap,
.form2,
.form,
.avatar-wrap2,
.avatar-wrap{
	position: relative;
	background-color: #fff !important;
}
.wrap:before,
.wrap:after,
.form2:before,
.form:before,
.avatar-wrap2:after,
.avatar-wrap2:before,
.avatar-wrap:after,
.avatar-wrap:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 1px;
	background-color: #ddd;
}
.wrap:after,
.avatar-wrap2:after,
.avatar-wrap:after{
	content: "";
	top: auto;
	bottom: 0;
}

.wrap{
	padding: 10px 0;
}

.radio-checkbox{
	padding-left: 30px;
}

#wrapper{
	top: 50px;
	left: 50px;
	padding: 10px;
}
#scroller li{
	padding: 5px 10px;
	border-bottom: 1px solid  #ddd;	
	font-family: fantasy;
}









